/* 
====== 
Variables 
======
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #901919;
  --clr-primary-2: #a81d1d;
  --clr-primary-3: #c02222;
  --clr-primary-4: #d82626;
  /* primary/main color */
  --clr-primary-5: #f02a2a;
  /* lighter shades of primary color */
  --clr-primary-6: #c45151;
  --clr-primary-7: #ca6565;
  --clr-primary-8: #d78b8b;
  --clr-primary-9: #de9f9f;
  --clr-primary-10: #ebc5c5;
  /* lighter shade of secondary */
  --clr-secondary-1: #8ddaac;
  --clr-secondary-2: #5fcb8b;
  --clr-secondary-3: #49c47a;
  --clr-secondary-4: #32bc6a;
  /* main secondary color */
  --clr-secondary-5: #1bb559;
  /* darker shade of secondary */
  --clr-secondary-6: #18a350;
  --clr-secondary-7: #169147;
  --clr-secondary-8: #137f3e;
  --clr-secondary-9: #106d35;
  --clr-secondary-10: #0e5b2d;
  /* darker shade of tertiary */
  --clr-tertiary-1: #fcd36c;
  --clr-tertiary-2: #fbcd57;
  --clr-tertiary-3: #fbcd57;
  --clr-tertiary-4: #fbc642;
  /* main tertiary color */
  --clr-tertiary-5: #fac02d;
  /* darker shade of tertiary */
  --clr-tertiary-6: #e1ad29;
  --clr-tertiary-7: #c89a24;
  --clr-tertiary-8: #af861f;
  --clr-tertiary-9: #96731b;
  --clr-tertiary-10: #7d6017;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  /* defaul colors */
  --clr-white: #fff;
  --clr-black: #222;
  /* transparent color */

  --transparent-1: rgba(36, 58, 82, 0.9);

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 90vw;
  --borderRadius: 0.35rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--clr-grey-2);
  text-align: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* global classes */

.main-container {
  position: relative;
}

.section {
  width: var(--fixed-width);
  max-width: var(--max-width);
  min-height: 100vh;
  background-color: var(--clr-grey-2);
  display: grid;
  place-items: center;
  padding-top: 72px;
  margin: 0 auto;
}

.section h2 {
  letter-spacing: 0.5rem;
  padding: 1rem;
}

.underline {
  height: 0.3rem;
  width: 7rem;
  align-self: center;
  background-color: white;
  border-radius: var(--borderRadius);
  margin-bottom: 5rem;
}

/* navbar */
nav {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  display: grid;
  place-items: center;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--clr-primary-6);
  transition: var(--transition);
  background-color: transparent;
}

.nav-toggle:hover {
  color: var(--clr-primary-3);
}

.nav-toggle.rotate {
  transform: rotate(90deg);
}

.logo {
  margin-left: 1rem;
  height: 40px;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  overflow: hidden;
  transition: var(--transition);
}

.links-url {
  color: var(--clr-grey-9);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: var(--spacing);
  display: block;
  padding: 1rem;
}

.social-icons {
  display: none;
}

/* hero */
.hero {
  background: url('./imgs/bgimg.JPEG') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.hero-center {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: rgb(36, 58, 82, 0.9);
  text-align: center;
}
.hero-center h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  max-width: 500px;
  margin-bottom: 2rem;
}

.hero-center h2 .hero-info {
  max-width: 35em;
}

/* projects section*/

.projects .underline {
  background-color: var(--clr-tertiary-5);
}

.projects-center {
  width: var(--fixed-width);
  max-width: var(--max-width);
  justify-content: center;
  margin: 0 auto;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

/* project tile */

.project-tile {
  background-color: var(--clr-white);
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 300px;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  border-radius: var(--borderRadius);
}

.project-tile:hover {
  box-shadow: var(--dark-shadow);
}

.project-tile img {
  height: 30rem;
  width: 100%;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.project-tile-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  border-radius: var(--borderRadius);
}
.project-tile-overlay:hover {
  opacity: 0;
}
.project-footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.project-footer h4,
ul,
a {
  margin-bottom: 0.3rem;
  padding: 1rem 0;
}

.project-footer ul {
  display: flex;
  justify-content: space-around;
}
.project-links {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

/* about */

.about .underline {
  background-color: var(--clr-primary-5);
}

.about-center {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 1.2rem;
}
.about-center img {
  height: 15rem;
}

.about-img {
  border-radius: 50%;
  width: 250px;
  align-items: center;
  background-color: var(--clr-grey-2);
  z-index: 1;
}

.about-info {
  padding-top: 13rem;
  transform: translateY(-18%);
  border: 2px solid var(--clr-secondary-1);
  border-radius: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: grid;
  place-items: center;
}

.about-info p {
  color: var(--clr-grey-8);
}

.about-tools {
  display: grid;
  place-items: center;
  background-color: var(--clr-primary-7);
  border-radius: 5rem;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 50rem;
  color: var(--clr-grey-2);
}

.about-tools ul {
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tools-icon {
  font-size: 2.5rem;
}

/* contact */

.contactme .underline {
  background-color: var(--clr-secondary-5);
}
.contactme-center {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  height: 70vh;
}

.contactme-social {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
}

.contactme-social a {
  color: var(--clr-primary-7);
  font-size: 1.5rem;
  cursor: pointer;
}
.contactme-social a:hover {
  color: var(--clr-primary-5);
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 0 2rem;
}

.form input,
textarea {
  width: 100%;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--clr-tertiary-5);
  color: var(--clr-tertiary-1);
}

.form input {
  height: 50px;
  padding: 0 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.form textarea {
  height: 150px;
  font-size: 1.5rem;
  padding: 0.75rem;
}

.input-container {
  padding-bottom: 5rem;
}

.form button {
  transform: translateY(-2rem);
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: var(--clr-secondary-3);
  cursor: pointer;
  border-radius: var(--borderRadius);
  border: none;
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--clr-grey-2);
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .projects-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

@media screen and (min-width: 800px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links-url {
    padding: 0;
    margin: 0 0.5rem;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-7);
  }

  .social-icons a:hover {
    color: var(--clr-primary-4);
  }

  .hero-info h1 {
    font-size: 3rem;
  }
  .hero-info h3 {
    font-size: 2rem;
  }
  .hero-img {
    display: block;
    justify-self: center;
  }
  .hero-img img {
    width: 45rem;
  }
}
