@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
====== 
Variables 
======
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #901919;
  --clr-primary-2: #a81d1d;
  --clr-primary-3: #c02222;
  --clr-primary-4: #d82626;
  /* primary/main color */
  --clr-primary-5: #f02a2a;
  /* lighter shades of primary color */
  --clr-primary-6: #c45151;
  --clr-primary-7: #ca6565;
  --clr-primary-8: #d78b8b;
  --clr-primary-9: #de9f9f;
  --clr-primary-10: #ebc5c5;
  /* lighter shade of secondary */
  --clr-secondary-1: #8ddaac;
  --clr-secondary-2: #5fcb8b;
  --clr-secondary-3: #49c47a;
  --clr-secondary-4: #32bc6a;
  /* main secondary color */
  --clr-secondary-5: #1bb559;
  /* darker shade of secondary */
  --clr-secondary-6: #18a350;
  --clr-secondary-7: #169147;
  --clr-secondary-8: #137f3e;
  --clr-secondary-9: #106d35;
  --clr-secondary-10: #0e5b2d;
  /* darker shade of tertiary */
  --clr-tertiary-1: #fcd36c;
  --clr-tertiary-2: #fbcd57;
  --clr-tertiary-3: #fbcd57;
  --clr-tertiary-4: #fbc642;
  /* main tertiary color */
  --clr-tertiary-5: #fac02d;
  /* darker shade of tertiary */
  --clr-tertiary-6: #e1ad29;
  --clr-tertiary-7: #c89a24;
  --clr-tertiary-8: #af861f;
  --clr-tertiary-9: #96731b;
  --clr-tertiary-10: #7d6017;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  /* defaul colors */
  --clr-white: #fff;
  --clr-black: #222;
  /* transparent color */

  --transparent-1: rgba(36, 58, 82, 0.9);

  --transition: all 0.3s linear;
  --transition2: 0.3s ease-in-out;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 90vw;
  --borderRadius: 0.35rem;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--clr-grey-9);
  line-height: 1.5;
  font-size: 0.875rem;
  background-color: var(--clr-grey-2);
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
span h1{
  color: var(--clr-primary-6);
}
/* global classes */

.main-container {
  position: relative;
}

.section {
  position: relative;
  width: var(--fixed-width);
  max-width: var(--max-width);
  min-height: 100vh;
  background-color: var(--clr-grey-2);
  display: grid;
  place-items: center;
  padding-top: 72px;
  margin: 0 auto;
}

.section h2 {
  letter-spacing: 0.5rem;
  padding: 1rem;
}

.social-links {
  display: flex;
}

.social-links a {
  color: var(--clr-primary-6);
  cursor: pointer;
}

.social-links .social-links a:hover,
.social-links svg:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.3);
}

.home-link  {
  color: var(--clr-primary-6);
  transition: var(--transition);
  cursor: pointer;
  font-size: 1.5rem;
}


.home-link:hover {
  transform: scale(1.3) !important;
  color: var(--clr-primary-7);
  font-size: 2rem;
}

.home-link svg {
  padding:0;
  margin-bottom: -2px;
}

/* navbar */
.nav-container {
  position: relative;
  z-index: 1000;
}
.nav {
  position: absolute;
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

.logo {
  margin-top: 7px;
  position: relative;
  padding: 0.5rem;
}
.logo img {
  height: 1.5rem;
}
.nav-button {
  transition: var(--transition);
  border: none;
  background-color: transparent;
  color: var(--clr-primary-7);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  padding: 0;
  position: fixed;
  right: 18px;
  top: 17px;
  z-index: 100;
  cursor: pointer;
}

.nav-button:hover {
  color: var(--clr-primary-6);
}
.nav-button.rotate {
  transform: rotate(90deg);
}

/* side menu */

.menu-container {
  display: flex;
  transition: var(--transition);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  flex-direction: column-reverse;
  transform: translate(-100%);
}

.menu-social {
  width: 100%;
  height: 30vh;
  transition: var(--transition);
  transform: translate(-100%);
  background-color: var(--clr-grey-2);
}

.menu-social .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 30vh;
}
.menu-social .social-links a {
  font-size: 1.2rem;
  padding: 0 1.5rem;
  color: var(--clr-primary-6);
}

.menu-links {
  position: absolute;
  top: 0;
  padding: 0;
  right: -100%;
  width: 100%;
  height: 70vh;
  transition: var(--transition);
  transform: translate(100%);
  background-color: var(--clr-grey-1);
}
.menu-links ul {
  height: 70vh;
  margin: 0;
  padding: 0;
  background-color: var(--transparent-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-links ul li {
  padding: 1rem;
}

.url-text {
  color: var(--clr-grey-9);
}
.url-text h3 {
  text-transform: uppercase;
}
.menu-links.show {
  right: 100%;
}
.menu-container.show,
.menu-social.show {
  transform: translate(0);
}

.active-menu {
  font-weight: 900;
  color: var(--clr-primary-6);
}

.watermark {
  position: absolute;
  top: 10%;
  right: 0;
  width: auto;
  height: auto;
  background-color: transparent;
  opacity: 0.1;
  text-overflow: clip;
  overflow: hidden;
  white-space: wrap;
  display: inline-flex;
  flex-wrap: wrap;
}

.watermark h1 {
  font-size: 10rem;
  color: var(--clr-grey-6);
  font-weight: 900;
  text-transform: lowercase;
  margin-bottom: 0;
  text-align: right;
  opacity: 0.5;
  max-width: 100%;
}

/********** hero **********/

.hero {
  position: relative;
  height: 100vh;
}

.hero h3 {
  font-size: 3rem;
  text-align: left;
  color: var(--clr-grey-8);
  margin-left: 1rem;
}
.hero h3 > span {
  color: var(--clr-primary-6);
}

.hero .hero-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 95vw;
  height: 100%;
}

.hero-info .hero-ad{
  z-index: 10;
}
.hero-info .hero-ad h3 {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 2.2rem;

  
}
.hero-info .hero-call-to-action {
  position: relative;
  align-self: flex-end;
  text-align: right;
  width: auto;
  height: auto;
  display: inline-flex;
}

.hero-info .hero-call-to-action a {
  font-size: 1.5rem;
  transition: var(--transition);
  bottom: 0;
  height: auto;
  width: auto;
}

.hero-info .hero-call-to-action p {
  color: var(--clr-grey-8);
  text-transform: lowercase;
  align-self: flex-start;
  margin-right: -1.5rem;
  padding: 0;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  transform: rotate(-90deg);
}

.hero-glass-nuemorphism {
  position: absolute;
  filter: blur(8px);
  opacity: 0.1;
}

.hero-ad-glass {
  top: 0;
  left: 0;
  width: 75vw;
  height: 75vh;
  background-color: var(--clr-primary-7);
  z-index: -1;
}

.hero-info .hero-call-to-action .hero-call-to-acion-glass {
  height: 100%;
  width: 40vw;
  top: 10%;
  right: -20%;
  background-color: var(--clr-grey-3);
  opacity: 0.2;
}

.hero-info .hero-call-to-action img {
  margin-bottom: 10vh;
  animation: bounce 0.7s infinite alternate;
}

.hero-overlay {
  background: url("./imgs/bgimg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96vh;
  z-index: -1;
}
.hero-center {
  height: 100vh;
  width: 100%;
  display: grid;
  margin: 0 auto;
  align-items: center;
  z-index: 1;
  background-color: var(--transparent-1);
}

/* projects section*/

.projects-center {
  width: var(--fixed-width);
  max-width: var(--max-width);
  justify-content: center;
  margin: 0 auto;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

/* projects */

.projects-featured {
  display: flex;
  flex-direction: column;
}

.projects-featured img {
  height: 12rem;
}

.projects-featured .project-text {
  text-align: left;
  margin-top: 2rem;
}
.projects-featured .project-text h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 1rem 0;
}
.projects-featured .project-text p {
  color: var(--clr-grey-8);
  font-size: 1rem;
}

.project-techs {
  padding-top: 1rem;
}
.project-text ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-links {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-links a,
.project-url p {
  color: var(--clr-primary-9);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 2px var(--clr-primary-9);
  padding: 0.5rem 1.5rem;
  border-radius: var(--borderRadius);
}

.project-links a:hover,
.project-url p:hover {
  background-color: var(--clr-primary-9);
  color: var(--var-primary-9);
  transition: var(--transition);
  color: var(--clr-grey-2);
  box-shadow: var(--light-shadow);
}

/* mini projects tile */

.mini-project-tile {
  background-color: var(--clr-white);
  margin-bottom: 2rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 300px;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  border-radius: var(--borderRadius);
}

.mini-project-tile:hover {
  box-shadow: var(--dark-shadow);
}

.mini-project-tile img {
  height: 30rem;
  width: 100%;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.mini-project-tile-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: var(--borderRadius);
}
.mini-project-tile-overlay:hover {
  opacity: 0.9;
  transition: var(--transition);
}

.tile-overlay-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.tile-overlay-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-grey-9);
  text-transform: uppercase;
}
.mini-project-footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 1;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.mini-project-footer h4,
ul,
a {
  margin-bottom: 0.3rem;
  padding: 1rem 0;
}

.mini-project-footer ul {
  display: flex;
  justify-content: space-around;
}
.mini-project-links {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

/* about */

.about-center {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 5rem;
}
.about-center img {
  height: 12rem;
}

.about-img {
  border-radius: 50%;
  width: 220px;
  align-items: center;
  background-color: var(--clr-grey-2);
  z-index: 1;
  transform: translateY(-50%);
}

.about-info {
  border-radius: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: grid;
  place-items: center;
}
.about-text {
  margin-top: -4rem;
  width: 100%;
}
.about-info p {
  color: var(--clr-grey-8);
  max-width: 50rem;
  font-size: 1rem;
}

.about-tools {
  display: grid;
  place-items: center;
  background-color: var(--clr-primary-7);
  border-radius: 5rem;
  margin: 2rem auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 50rem;
  color: var(--clr-grey-2);
}

.about-tools ul {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.tools-icon {
  padding: 1rem;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
}
.tools-icon span {
  margin-top: 5px;
  font-size: 0.85rem;
  font-weight: 500;
}

/*** contact ***/

.contactme-center {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  height: 70vh;
}

.contactme .social-links {
  justify-content: space-around;
  width: 100%;
  max-width: 500px;
}

.contactme .social-links a {
  font-size: 1.5rem;
}

.form {
  width: 100%;
  max-width: 500px;
  padding: 0 2rem;
}

.form input,
textarea {
  width: 100%;
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--clr-primary-8);
  color: var(--clr-primary-7);
  font-family: inherit;
}

.form input {
  height: 50px;
  padding: 0 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.form textarea {
  height: 150px;
  font-size: 1rem;
  padding: 0.75rem;
}

.input-container {
  padding-bottom: 5rem;
}
.form button {
  transform: translateY(-2rem);
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: var(--borderRadius);
  font-family: inherit;
  font-size: 1.2rem;
  color: var(--clr-primary-8);
  font-weight: 500;
  background: transparent;
  border: solid 2px var(--clr-primary-8);
}

.form button:hover {
  background-color: var(--clr-primary-8);
  color: var(--var-primary-9);
  transition: 0.3s ease-in-out;
  color: var(--clr-grey-2);
}

/**** loader animation ****/

.loader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: auto;
}

.loader > span {
  background-color: var(--clr-primary-7);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 3px;
  animation: bounce 0.7s infinite alternate;
}

.loader > span:nth-child(2) {
  background-color: var(--clr-primary-5);
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  background-color: var(--clr-primary-7);
  animation-delay: 0.5s;
}



/* animations */
@keyframes bounce {
  to {
    transform: translate3d(0, -4px, 0);
  }
}

/*** screen sizes ***/

@media screen and (min-width: 450px) {
  .logo {
    padding: 1rem;
  }
  .logo img {
    height: 2rem;
  }

  .nav-button {
    font-size: 1.75rem;
  }

  .hero-info .hero-ad h3 {
    font-size: 5rem;
    line-height: 2.5rem;
  }

}

@media screen and (min-width: 576px) {
  .projects-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
  .about-tools ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero-info .hero-ad h3 {
    font-size: 6.5rem;
    line-height: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .hero-info h3 {
    font-size: 4rem;
    margin-left: 2rem;
  }
  .projects-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
  .about-tools ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero-info .hero-ad h3 {
    font-size: 8rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: 800px) {

  .about-tools ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .projects-featured {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 5rem 0;
  }

  .projects-center > .projects-featured:nth-child(even) {
    flex-direction: row-reverse;
  }

  .projects-featured img {
    margin-top: 5rem;
    flex-grow: 2;
  }
}

@media screen and (min-width: 900px) {
  .projects-featured {
    column-gap: 5rem;
  }
  .projects-featured img {
    height: 15rem;
  }


  .hero-info .hero-ad h3 {
    font-size: 10rem;
    line-height: 5rem;
  }
}

