/* 
====== 
Variables 
======
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #901919;
  --clr-primary-2: #a81d1d;
  --clr-primary-3: #c02222;
  --clr-primary-4: #d82626;
  /* primary/main color */
  --clr-primary-5: #f02a2a;
  /* lighter shades of primary color */
  --clr-primary-6: #c45151;
  --clr-primary-7: #ca6565;
  --clr-primary-8: #d78b8b;
  --clr-primary-9: #de9f9f;
  --clr-primary-10: #ebc5c5;
  /* darker shade of secondary */
  --crl-secondary-1: #8ddaac;
  --crl-secondary-2: #5fcb8b;
  --crl-secondary-3: #49c47a;
  --crl-secondary-4: #32bc6a;
  /* main secondary color */
  --crl-secondary-5: #1bb559;
  /* darker shade of secondary */
  --crl-secondary-6: #18a350;
  --crl-secondary-7: #169147;
  --crl-secondary-8: #137f3e;
  --crl-secondary-9: #106d35;
  --crl-secondary-10: #0e5b2d;
  /* darker shade of tertiary */
  --crl-tertiary-1: #fcd36c;
  --crl-tertiary-2: #fbcd57;
  --crl-tertiary-3: #fbcd57;
  --crl-tertiary-4: #fbc642;
  /* main tertiary color */
  --crl-tertiary-5: #fac02d;
  /* darker shade of tertiary */
  --crl-tertiary-6: #e1ad29;
  --crl-tertiary-7: #c89a24;
  --crl-tertiary-8: #af861f;
  --crl-tertiary-9: #96731b;
  --crl-tertiary-10: #7d6017;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: #243a52;
  --clr-grey-3: #324d67;
  --clr-grey-4: #48647f;
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: #829ab0;
  --clr-grey-7: #9eb2c7;
  --clr-grey-8: #bcccdc;
  --clr-grey-9: #dae2ec;
  --clr-grey-10: #f1f5f8;
  /* defaul colors */
  --clr-white: #fff;
  --clr-black: #222;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-black);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* global classes */

.main-container {
  width: 100vw;
  margin: 0 auto;
  max-width: var(--max-width);
  position: relative;
}

@media screen and (max-width: 992px) {
  .main-container {
    width: 95vw;
    margin: 0;
  }
}

/* navbar */
nav {
  max-width: var(--max-width);
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  position: fixed;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  display: grid;
  place-items: center;
  border-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--clr-primary-6);
  transition: var(--transition);
}

.nav-toggle:hover {
  color: var(--clr-primary-3);
}

.nav-toggle.rotate {
  transform: rotate(90deg);
}

.logo {
  margin-left: 1rem;
  height: 40px;
}

.links-url {
  color: var(--clr-gey-3);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: var(--spacing);
  display: block;
  padding: 1rem;
}

.social-icons {
  display: none;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  overflow: hidden;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;
  }

  .links-url {
    padding: 0;
    margin: 0 0.5rem;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-7);
  }

  .social-icons a:hover {
    color: var(--clr-primary-4);
  }
}
